.todo-title {
    color: orange;
    font-size: 35px;
    margin: 15px 0;
    font-weight: 600;
    text-align: center;
}

.todo-container {
    margin: 50px auto;
    width: 600px;
}

.todo-new {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


.todo-data {
    margin-top: 20px;

    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;



}

.todo-image {
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}